<suite name="test.SalesForceTest" parallel="classes" thread-count="2">
    <test name="Ejercicios Testng">
        <parameter name="username" value="user@qa.com"></parameter>
        <parameter name="password" value="holamundo123"></parameter>
        <groups>
            <run>
                <include name="sucessTests"/>
                <include name="failTests"/>
            </run>
        </groups>
        <classes>
            <class name="test.SalesForceTest.SalesForceTest"></class>
        </classes>
    </test>
</suite>