<suite name="dropdow_link_radio" verbose="1">
    <test name="Ejercicios Testng">
        <groups>
            <run>
                <include name="sucessTests"/>
                <include name="failTests"/>
            </run>
        </groups>
        <classes>
            <class name="dropdow_link_radio.DropDownLinkRadioTest"></class>
        </classes>
    </test>
</suite>