<suite name="Clase 12">
    <test name="Ejercicios Testng">
        <parameter name="username" value="user@qa.com"></parameter>
        <parameter name="password" value="holamundo123"></parameter>

        <classes>
            <class name="clase12.testng"></class>
        </classes>
    </test>
</suite>