<suite name="test.FacebookTest" parallel="classes" thread-count="2">
    <test name="Ejercicios Testng">
        <groups>
            <run>
                <include name="sucessTests"/>
                <include name="failTests"/>
            </run>
        </groups>
        <classes>
            <class name="test.FacebookTest.FacebookLoginTest"></class>
            <class name="test.FacebookTest.FacebookRegisterTest"></class>
        </classes>
    </test>
</suite>