<suite name="clase2" verbose="1">
    <test name="Ejercicios Testng">
        <groups>
            <run>
                <include name="sucessTests"/>
                <include name="failTests"/>
            </run>
        </groups>
        <classes>
            <class name="clase2.FacebookTest"></class>
        </classes>
    </test>
</suite>